html,
body {
	@apply h-full overflow-x-hidden;
}

/* @layer components {
	.btn-primary {
		@apply bg-oldGrey border border-transparent rounded-md shadow-sm py-3 px-4 text-base font-medium text-custard-500 hover:bg-custard-500 hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-50 focus:ring-custard-300;
	}
} */
